<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-shopping-cart fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Orders' | translate}}</h3>
  </header>
  <div [@fadeInOut]>

    <ngx-datatable class="material colored-header sm table table-striped table-hover"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="orders"
                   [rowHeight]="35"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [headerHeight]="35"
                   [footerHeight]="35"
                   [scrollbarV]="true">
      <!--<ngx-datatable-column *ngFor="let col of columns"
                            [name]="col.name">
      </ngx-datatable-column>-->

    </ngx-datatable>

    <!--<ng-multiselect-dropdown [placeholder]="'custom placeholder'"
                           [data]="dropdownList"
                           [(ngModel)]="selectedItems"
                           [settings]="dropdownSettings"
                           (onSelect)="onItemSelect($event)"
                           (onSelectAll)="onSelectAll($event)">
  </ng-multiselect-dropdown>-->
    <!-- additional template-->
    <ng-template #statusHeaderTemplate>
      <i class="fa fa-check-square-o"></i>
    </ng-template>

    <ng-template #statusTemplate let-row="row" let-value="value">
      <div class="checkbox">
        <label>
          <input attr.name="checkboxes-{{value}}" type="checkbox" [(ngModel)]="row.completed">
        </label>
      </div>
    </ng-template>

    <ng-template #customerTemplate let-row="row" let-value="value">
      <span *ngIf="!editing[row.$$index + '-customerId']" class="inline-label" (dblclick)="editing[row.$$index + '-customerId'] = true">
        {{value}}
      </span>
      <input *ngIf="editing[row.$$index + '-customerId']" class="inline-editor" autofocus (blur)="updateValue($event, 'customerId', value, row)" type="text" [value]="value" />
    </ng-template>

    <ng-template #actionsTemplate let-row="row">
      <a class="btn btn-link btn-xs" href="javascript:;" tooltip="{{'order.management.Delete' | translate}}" container="body" (click)="delete(row)"><i class="fa fa-times"></i></a>
      <a class="btn btn-link btn-xs" href="javascript:;" tooltip="{{'order.management.Important' | translate}}" container="body" (click)="row.important = !row.important" (mouseover)="row.isMouseOver=true" (mouseout)="row.isMouseOver=false">
        <i *ngIf="row.important || row.isMouseOver" class="fa fa-bookmark"></i>
        <i *ngIf="!row.important && !row.isMouseOver" class="fa fa-bookmark-o"></i>
      </a>
    </ng-template>

    <ng-template #commentsTemplate let-row="row" let-value="value">
      <span *ngIf="!editing[row.$$index + '-comments']" class="inline-label" (dblclick)="editing[row.$$index + '-comments'] = true">
        {{value}}
      </span>
      <input *ngIf="editing[row.$$index + '-comments']" class="inline-editor" autofocus (blur)="updateValue($event, 'comments', value, row)" type="text" [value]="value" />
    </ng-template>

    <!-- MODAL-->
    <div class="modal fade" bsModal #editorModal="bs-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left"><i class="fa fa-tasks"></i> {{'order.editor.NewOrder' | translate}}</h4>
            <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form *ngIf="formResetToggle" name="orderEditorForm" #f="ngForm" class="form-horizontal" novalidate (ngSubmit)="f.form.valid ? save() :
               (!orderName.valid && showErrorAlert('Order name is required', 'Please enter order description'));">
              <!--<div class="form-group has-feedback">
              <label class="control-label col-md-2" for="orderName">{{'order.editor.Name' | translate}}:</label>
              <div class="col-md-10" [ngClass]="{'has-success': f.submitted && orderName.valid, 'has-error' : f.submitted && !orderName.valid}">
                <input autofocus type="text" id="orderName" name="orderName" placeholder="Enter order name" class="form-control" [(ngModel)]="orderEdit.name" #orderName="ngModel" required />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ':orderName.valid, 'glyphicon-remove' : !orderName.valid}"></span>
                <span *ngIf="f.submitted && !orderName.valid" class="errorMessage">
                  {{'order.editor.OrderNameRequired' | translate}}
                </span>
              </div>
            </div>-->
              <div class="form-group description-form-group">
                <label class="control-label col-md-2" for="orderDescription">{{'order.editor.Description' | translate}}:</label>
                <div class="col-md-10">
                  <input type="text" id="orderDescription" name="orderDescription" placeholder="Enter order description" class="form-control" [(ngModel)]="orderEdit.description" />
                </div>
              </div>
              <label class="control-label col-md-2"> </label>
              <div class="col-md-7">
                <div class="checkbox">
                  <label>
                    <input name="isImportant" type="checkbox" [(ngModel)]="orderEdit.important">
                    {{'order.editor.Important' | translate}}
                  </label>
                </div>
              </div>
              <div class="col-md-12">
                <hr class="edit-last-separator-hr" />
              </div>

              <div class="form-group actionBtn-form-group">
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary">{{'order.editor.AddOrder' | translate}}</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
